.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Button */
/* Link */
/* Header */
/*Hero section */
/* Advantages section */
/* Title section */
/* Tradition section*/
/* Chefs section */
/* Format section */
/* Carousel */
/* Contact section */
/* Footer */
/*Modal*/
/* Form */
